.bars_div{
    /* background-color:green; */
    overflow: hidden;
    
    overflow-y: hidden;

    max-height: 500px;
    margin: 20px 0px;
    /* background-repeat: none; */
    
    
}
.arraybar{
    width: 2px;
    background-color: red;
    display: inline-block;
    margin: 10px 2px;
}
body{
    color:white;
    background-color:black;
    width: 100%;
    height: 100%;
}
.generate{
    /* position: absolute; */
    background-color:whitesmoke;
    border-style: double;
    border-width:3px;
    border-radius: 5px;
}
.varunbtn{
    margin: 5px;
}
/* .inside_wrap{
    background-color:blue;
} */